*{
    text-decoration: none;
    color: black;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    width: 80%;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(36, 100%, 99%);
}

@font-face {
    font-family: statica;
    src: url('../assets/fonts/static/Inter-ExtraBold.ttf');
}

@font-face {
    font-family: statica2;
    src: url('../assets/fonts/static/Inter-Bold.ttf');
}

.topo-site{
    margin-top: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topo-site img{
    width: 50px;
    height: 30px;
}

.topo-site ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    
}

.topo-site ul li{
    padding: 10px 15px 10px 15px;
    opacity: 0.6;
}

.topo-site ul li a:hover{
    color: rgb(254, 64, 64);
    transition: all 0.3s;
}

.centro-site{
    display: flex;
    width: 80%;
    margin-top: 20px;
}

.noticia-atual{
    display: flex;
    flex-direction: column;
}

.noticia-atual img{
    width: 600px;
}

.conteudo-noticia-atual{
    display: flex;
    width: 600px;
    margin-top: 30px;
}

.h1-noticia-atual{
    width: 300px;
    display: flex;

}

.h1-noticia-atual h1{
    font-size: 35pt;
    font-family: statica;
    margin: 0px;
    color: hsl(240, 100%, 5%);
}

.noticia-noticia-atual{
    width: 280px;
    margin-left: 20px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
.noticia-noticia-atual p{
    color: rgb(82, 82, 82);
}
.noticia-noticia-atual button{
    margin-top: 20px;
    padding: 12px 0px 12px 0px;
    width: 180px;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: rgba(255, 66, 66, 0.89);
    border: none;
    transition: all 0.3s;
}

.noticia-noticia-atual button:hover{
    background-color: hsl(240, 100%, 5%);
    cursor: pointer;
}

.novas-noticias{
    margin-left: 40px;
    width: 300px;
    height: 440px;
    background-color: hsl(240, 100%, 5%);
    padding-left:20px ;
}


.novas-noticias h1{
    color: rgb(255, 168, 38);
    font-family: statica2;
}

.noticias-novas p{
    color: rgb(184, 184, 184);
}
.noticias-novas h3{
    color: white;
    font-family: statica2;
}

.noticias-novas h3:hover{
    color: rgb(255, 168, 38);
    transition: all 0.3s;
    cursor: pointer;
}
.noticias-novas{
    width: 271px;
    border-bottom: gray 1px solid;
}

.fim-site{
    margin-top: 48px;
    display: flex;
    width: 80%;

}

.info-fim-site{
    display: flex;
    margin-bottom: 40px;
}

.info-fim-site img{
    width: 120px;
    height: 150px;
}

.info-not-fim{
    margin-top: 0px;
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.info-not-fim h1,
.info-not-fim p{
    margin: 0;
}

.info-not-fim h1{
    color: rgba(0, 0, 0, 0.382);
}

.info-not-fim h1,
.info-not-fim h3{
    font-family: statica2;
}

.info-not-fim h3{
    color: hsl(240, 100%, 5%);
    margin-top: 15px;
    font-size: 12pt;
    transition: all 0.3s;
}

.info-not-fim h3:hover{
    color: rgba(254, 64, 64, 0.822);
    cursor: pointer;
    
}

.info-not-fim p{
    font-size: 10pt;
}

.mobile,
.close{
    display: none;
}

